body {
  display: flex;
}

button {
  border-radius: 0px;
  font-size: xx-large;
}

button:active{
  background-color: rgb(199, 199, 199);
}

#calculator {
  display: grid;
  grid-template-rows: 1fr 5fr;
  background-color:midnightblue;
  cursor: alias;
  width: 360px;
  height: 480px;
  padding: 15px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

#display {
  display: grid;
  align-content: center;
  justify-content: end;
  margin-bottom: 15px;
  grid-row: 1;
  border-radius: 20px;
  height: 100px;
  background-color: gray;
  color: lightblue;
}

#displayNumber {
  position: relative;
  right: 10px;
  font-size: xxx-large;
}

#buttonsContainer {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
}

#numberContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
  grid-row: 2 / 6;
}


#zero, #equal, #clearAll{
  border-bottom-left-radius: 20px;
}
#equal, #plusMinus, #delete{
  border-bottom-right-radius: 20px;
}
#clearAll, #seven, #divide{
  border-top-left-radius: 20px;
}
#divide, #delete, #nine{
  border-top-right-radius: 20px;
}

#operationContainer {
  display: grid;
  grid-column: 4;
  grid-row: 1 / 6;
}

#deleteContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / 4;
  grid-row: 1;
}