body {
  display: flex;
}

#calculator {
  display: grid;
  grid-template-rows: 1fr 5fr;
  background-color:midnightblue;
  cursor: alias;
  width: 360px;
  height: 480px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#display {
  grid-row: 1;
  background-color: gray;
}

#buttons {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#numberButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
  grid-row: 2 / 6;
}

#operationButtons {
  display: grid;
  grid-column: 4;
  grid-row: 1 / 6;
}

#deleteButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / 4;
  grid-row: 1;
}